body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.background {
  background: url(https://images.unsplash.com/photo-1500993855538-c6a99f437aa7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=a9598753a9aff52e36d4fcaf892df3ac)
    no-repeat top;
  width: 100%;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.NavBarContainer {
  animation: fadeinout 9.2s ease-in forwards;

  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menu-icon {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 50px;
}

.menu-icon input[type="checkbox"] {
  cursor: pointer;
  position: absolute;
  width: 40px;
  top: 15px;
  right: 85px;
  display: none;
}

.menu-icon label {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 20px;
  top: 15px;
  right: 65px;
  z-index: 999;
}

.icon,
.icon:before,
.icon:after {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: #fff;
  transform: rotate(0deg);
  cursor: pointer;
}

.icon {
  top: 20px;
  right: 80px;
}

.icon:before,
.icon:after {
  content: "";
}

.icon:before {
  right: 10px;
  transition: right 0.3s ease-out, width 0.3s ease-out;
}

.icon:after {
  left: 10px;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.menu-icon input[type="checkbox"]:checked ~ .icon:before {
  right: -8px;
  width: 22px;
  transform: rotate(225deg);
}

.menu-icon input[type="checkbox"]:checked ~ .icon:after {
  left: -8px;
  width: 22px;
  transform: rotate(135deg);
}

.menu {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20%;
  padding: 0;
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu a {
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  font-family: "Saira", sans-serif;
  font-size: 1em;
  color: white;
  transition: color 1s ease;
}

.NavBarContainer input:checked ~ ul {
  transform: none;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.title {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Saira Condensed", sans-serif;
  letter-spacing: 2px;
  animation: fadeinout 9.2s ease-in forwards;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.75) -25%,
    rgba(0, 0, 0, 0) 75%
  );
  border: 1px solid transparent;
  width: 100%;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hrTitle {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    white,
    rgba(0, 0, 0, 0)
  );
  width: 70%;
}

.titleName {
  line-height: 5px;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.541);
}

.titleDev {
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.719);
  margin-top: -5px;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content {
  position: absolute;
  top: 54.5%;
  left: 49.8%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px black;
  width: 350px;
  animation: fadeout 7.5s ease-out forwards;
}

.content-container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 30px;
  margin-top: 5px;
}

.content-container:before {
  content: "[";
  left: 0;
}

.content-container:after {
  content: "]";
  right: 0;
}

.content-container:after,
.content-container:before {
  position: absolute;
  top: 0;
  color: white;
  font-size: 40px;
  line-height: 36px;
}

.content-list {
  padding: 0;
  margin-top: 0;
  list-style: none;
  animation-name: translate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content-world {
  line-height: 30px;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), cursor 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes translate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0%, 0);
  }
  20% {
    transform: translate3d(0, 0%, 0);
  }
  30% {
    transform: translate3d(0, 0%, 0);
  }
  40% {
    transform: translate3d(0, 0%, 0);
  }
  60% {
    transform: translate3d(0, -100%, 0);
  }
  75% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}

.page-down {
  position: absolute;
  cursor: pointer;
  bottom: 50px;
  right: 50px;
  height: 4em;
  width: 4em;
  color: rgba(0, 0, 0, 0.699);
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 100%;
  animation: fadeinout 9.2s ease-in forwards;
}

.down-icon {
  font-size: 4em;
  color: white;
  padding: 0;
  -moz-animation: bounce 2.3s;
  -moz-animation-iteration-count: 3;
  -webkit-animation: bounce 2.3s;
  -webkit-animation-iteration-count: 3;
  animation: bounce 2.3s;
  animation-iteration-count: 3;
}

.down-icon:hover {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

.down-icon:active {
  color: rgba(0, 0, 0, 0.144);
}

@-moz-keyframes bounce {
  0%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  40% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  60% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@-webkit-keyframes bounce {
  0%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes bounce {
  0%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  40% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  60% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

.about {
  background-color: #1c4f69e8;
  z-index: 5;
  height: 100vh;
  color: white;
}

.about hr {
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right white(0, 0, 0),
    white (0, 0, 0),
    rgba(255, 255, 255, 0)
  );
  width: 45%;
}

.section-title {
  margin: 0 0 0 50px;
  padding: 0;
  font-family: "Saira", sans-serif;
}

.about-media {
  position: relative;
  height: 55.49vh;
  border-top: 2px solid #1c4f69e8;
  background-color: white;
}

.about-name {
  margin: 0;
  font-size: 1.5em;
  font-family: "Saira", sans-serif;
  color: #001925;
}

.click-icons {
  width: 50%;
  /* font-size: 4em; */
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  margin-bottom: 5vh;
}

.click {
  cursor: pointer;
  color: #0019259c;
  font-size: 2.8em;
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 4em;
  background-color: rgba(255, 255, 255, 0.514);
  border: 5px solid rgba(255, 255, 255, 0.514);
  border-radius: 100%;
}

.main-click {
  width: 50%;
  padding: 0 25px 0 25px;
  display: flex;
  justify-content: space-evenly;
}

.mountains {
  position: absolute;
  right: 0;
  top: -157px;
}

.display-icons {
  display: flex;
  align-items: center;
  border: 1px solid white;
}

.display {
  border: 1px solid white;
}

.main-about {
  margin: 0 auto;
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-left: 25px;
  cursor: pointer;
}

.about-contents {
  height: 40vh;
  display: flex;
  border-bottom: 2px solid white;
  align-items: center;
}

.tweets {
}

.linkedin-display {
  cursor: pointer;
  z-index: 200;
  transition: all 0.2s ease-in-out;
}

.linkedin-display:hover {
  transform: scale(1.5);
  -webkit-filter: drop-shadow(2px 1px 2px black);
  filter: drop-shadow(1px 5px 5px black);
}

.linkedin-display img {
  width: 250px;
}

.about-text {
  width: 70%;
  text-indent: 45px;
  line-height: 25px;
  font-size: 1em;
  font-family: "Saira", sans-serif;
}

.projects {
  position: relative;
  height: 50vh;
  background-color: lightblue;
}

.contact {
  position: relative;
  height: 48vh;
  background-color: lightgray;
}

footer {
  height: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-family: "Saira", sans-serif;
  background-color: #002837ec;
  color: white;
}

.next-back {
  position: absolute;
  bottom: 50px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  float: right;
}

.about-nb {
  position: absolute;
  bottom: -95vh;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  float: right;
}

.next {
  cursor: pointer;
  height: 4em;
  width: 4em;
  color: rgba(0, 0, 0, 0.699);
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 100%;
}

.next-icon {
  font-size: 4em;
  color: white;
  padding: 0;
  -moz-animation: bounce 2.3s;
  -moz-animation-iteration-count: 3;
  -webkit-animation: bounce 2.3s;
  -webkit-animation-iteration-count: 3;
  animation: bounce 2.3s;
  animation-iteration-count: 3;
}

.next-icon:hover {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

.next-icon:active {
  color: rgba(0, 0, 0, 0.144);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin: 25px 50px 0px 0px;
  cursor: pointer;
  height: 4em;
  width: 4em;
  color: rgba(0, 0, 0, 0.699);
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 100%;
}

.home-icon {
  font-size: 2em;
  color: white;
  padding: 0;
}

.back {
  float: right;
  margin: 0px 50px 25px 0px;
  cursor: pointer;
  height: 4em;
  width: 4em;
  color: rgba(0, 0, 0, 0.699);
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 100%;
}

.back-icon {
  font-size: 4em;
  color: white;
  padding: 0;
}

.back-icon:hover {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}

.back-icon:active {
  color: rgba(0, 0, 0, 0.144);
}
